<% action = (@note.persisted? ? note_url(note) : notes_url) %>
<% method = (@note.persisted? ? :patch : :post) %>
<% title = (@note.persisted? ? "Edit Note" : "Create Note") %>

<h1><%= title %></h1>

  <form action="<%= action %>" method="post">
    <input type="hidden" name="_method" value="<%= method %>">
    <input type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token  %>">

    <label for="notes_track_notes">Notes
      <br>
      <textarea name="notes[track_notes]" id="notes_track_notes"><%= @note.track_notes %></textarea>
    </label><br><br>

    <button>Create Note</button>

  </form>
