<h1>Track: <%= @track.track_title %></h1>

  <h2>Artist: <%= @track.album.band.name %></h2>

  <h2>Album: <%= @track.album.title %></h2>

  <h2>Style: <%= @track.song_type.capitalize %></h2>

  <label for="track_lyrics">Lyrics
    <br>
    <br>
    <text name="track[lyrics]" id="track_lyrics"><%= @track.lyrics == "" ? "No lyrics available" : @track.lyrics %></textarea>
  </label><br><br>

  <%= button_to "Edit Track", edit_track_url(@track), method: :get %>
  <form action="<%= track_url %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <%= button_to "Delete Track", track_url(@track), method: :post %>
  </form>
  <%= button_to "Back to Album", album_url(@track.album.id), method: :get %>

<br>

<h3>Notes</h3>

<table>
  <tr>
    <th>User</th>
    <th>Note</th>
    <th>Delete</th>
  </tr>

  <% @track.notes.each do |note| %>
    <tr>
      <td><%= User.find(note.user_id).email %></td>

      <td><%= note.track_notes %></td>

      <td>
        <% if note.user_id == current_user.id %>
          <form action="<%= note_url(note) %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <%= button_to "Delete Note", note_url(note), method: :post %>
          </form>
        <% end %>
      </td>


    </tr>
  <% end %>
</table>

<%= render "notes/form.html.erb" %>
