<h1>Bands
  <%= button_to "Create Band", new_band_url, method: :get %>
</h1>

<table>
  <% @bands.each do |band| %>
    <tr>
      <td><%= band.name %></td>

      <td><%= button_to "Edit Band", edit_band_url(band.id), method: :get %></td>

      <td>
        <form action="<%= band_url(band) %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <%= button_to "Delete Band", band_url(band), method: :post %>
        </form>
      </td>

    </tr>
  <% end %>
</table>
